.box {
  min-width: "300px";
  padding-left: "5px";
  padding-right: "5px";
  height: "55px";
  display: "flex";
  justify-content: "center";
  align-items: "center";
  border-radius: "8px";
  color: "white";
  position: "absolute";
  top: "10px";
  right: "10px";
}

.alert {
  compose: box;
  background-color: "lightcoral";
}
.success {
    compose: box;
    background-color: chartreuse;
}
