@import "../../styles/vars.scss";

.enter {
  transform: translate(100%);
  opacity: 0;
}
.enterActive {
  transform: translate(0);
  opacity: 1;
  transition: $trans;
}
.exit {
  transform: translate(0);
  opacity: 1;
}
.exitActive {
  transform: translate(100%);
  opacity: 0;
  transition: $trans;
}
