.select {
  border: none;
  border-bottom: 1px solid #e0e0e0;
  width: 410px;
  height: 36px;
}
.select::placeholder {
  font-family: var(--primeFont);
  color: aqua;
}

.option {
  font-family: var(--primeFont);
  color: aqua;
}
