/* ###################################### */

@media screen and (max-width: 767px) {
  .container {
    display: block;
  }
  .header {
    width: 280px;
    height: 50px;
    background-color: #6e78e8;
    border-radius: 30px 30px 0px 0px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
  }
  .header__item {
    font-family: var(--primeFont);
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    color: #ffffff;
    padding: 12px 0px 0px 0px;
  }
  .container_body {
    position: relative;
    background: #4a56e2;
    width: 280px;
    height: 94px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 0px 0px 30px 30px;
    margin: 0 auto;
  }
  .graphSVG {
    fill: none;
    width: 280px;
    background: #4a56e2;
    border-radius: 0px 0px 30px 30px;
    position: absolute;
  }
  .svg {
    height: 108px;
    width: 280px;
    position: absolute;
    top: -30px;
  }

  .body {
    display: flex;
    justify-content: space-between;
    z-index: 100;
  }
  .body__item {
    font-family: var(--primeFont);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    padding: 0px 28px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    display: inline-block;
  }
  .header {
    width: 334px;
    height: 50px;
    background-color: #6e78e8;
    border-radius: 30px 30px 0px 0px;
    display: flex;
    justify-content: space-around;
  }
  .header__item {
    font-family: Circe;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    color: #ffffff;
    padding: 12px 0px 0px 0px;
  }
  .container_body {
    background: #4a56e2;
    width: 334px;
    height: 94px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 0px 0px 30px 30px;
  }
  .graphSVG {
    width: 334px;
    background: #4a56e2;
    border-radius: 0px 0px 30px 30px;
    position: absolute;
  }
  .svg {
    position: absolute;
    top: -40px;
    width: 100%;
  }
  .body {
    display: flex;
    justify-content: space-between;
    z-index: 100;
  }
  .body__item {
    font-family: var(--primeFont);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    padding: 0px 28px;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    width: 350px;
    height: 60px;
  }
  .container_body {
    background: #4a56e2;
    width: 350px;
    height: 273px;
    padding: 0px 0px 100px 0px;
  }
  .body__item {
    margin: 0px 12px;
  }
  .header__item {
    padding: 18px 0px 0px 0px;
  }
  .svg {
    top: 54px;
    width: 356px;
  }
}
