.diagramContainer {
  width: 320px;
  height: 320px;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 600px;
  width: 815px;
}
.label {
  font-family: var(--titleFont);
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.tableContainer {
  padding-top: 60px;
  padding-left: 30px;
}

.notFoundData {
  font-family: var(--primeFont);
  font-weight: 600;
  font-size: 20px;
  line-height: 45px;
  margin-bottom: 20px;
  padding: 5px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .container {
    width: 280px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    border: none;
    box-shadow: none;
  }

  .tableContainer {
    width: 280px;
    padding: 0;
    margin: 80px 0 0 0;
  }
  .notFoundData {
    font-family: var(--primeFont);
    font-weight: 600;
    font-size: 24px;
    line-height: 45px;
    letter-spacing: 4px;
    margin-bottom: 20px;
    padding: 5px;
    text-align: center;
    margin-top: 150px;
  }
}
