/* path {
  fill: #000000;
  stroke-width: 1px;
} */
.selectContainer {
  display: flex;
}
.labelContainer {
  display: flex;
  justify-content: space-between;
  width: 350px;
  height: 58px;
  border-radius: 30px;
  background-color: var(--whiteColor);
  align-items: center;
  padding: 0 35px;
}

.labelText {
  font-weight: bold;
  font-style: normal;
  font-family: var(--primeFont);
  font-size: 18px;
  margin: 0;
  line-height: 27px;
}

.listItems {
  display: flex;
  align-items: center;
  align-content: center;
  width: 350px;
  height: 54px;
  border-bottom: 1px solid #dcdcdf;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
}
.listColor {
  width: 32px;
  height: 24px;
  margin-left: 26px;
  margin-right: 16px;
  border-radius: 2px;
}
.transInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 50px;
  padding-top: 4px;
}
.transInfo p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
}
.amountContainer {
  margin-top: 16px;
}

.itemsAmount {
  width: 350px;
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
  margin-bottom: 13px;
  padding-left: 26px;
}
.amounthCategory {
  margin-left: 20px;
  margin-bottom: 16px;
}
.expensAmount,
.incomeAmount,
.amounthCategory {
  font-weight: bold;
  font-style: normal;
  font-family: var(--primeFont);
  font-size: 18px;
  margin: 0;
  line-height: 27px;
}

.expensAmount {
  color: var(--pinkColor);
}
.incomeAmount {
  color: var(--greenColor);
}
.totalAmount {
  font-family: var(--primeFont);
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
}

.titletrans {
  font-family: var(--primeFont);
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
}

@media (max-width: 767px) {
  .labelContainer {
    width: 280px;
  }
  .listItems {
    width: 280px;
  }

  .itemsAmount {
    width: 280px;
  }
  .selectContainer {
    flex-direction: column;
  }
}
