@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 480px;

}

.form  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: 'Poppins', sans-serif;
}


.wrapper {
    display: flex;
    justify-content: space-between;
}


.longInput {
    width: 410px;
}

.shortInput {
    width: 190px;
    text-align: center;
}


.button {
    width: 300px;
    height: 50px;
    border: 1px solid;
    margin-bottom: 20px;
    border-radius: 20px;
}


.checkBox {
    color: black;
}

.textGreen {
    color: #24CCA7;
}

.textRose {
    color: #FF6596;
}

.buttonAdd {
    background-color: #24CCA7;
    color: white;
}

/*

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


*/