.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 767px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: var(--titleFont);
  font-size: 24px;
  line-height: 45px;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 40px;
}

.wrap {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.spanText {
  font-family: var(--primeFont);
  color: #e0e0e0;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.spanTextLeft {
  margin-right: 20px;
}

.spanTextRight {
  margin-left: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: 100%;;
}

.longInput {
  /* width: 410px;
  margin-bottom: 40px; */
  width: 300px;
  /* height: 74px; */
  margin-bottom: 40px;
}

.shortInput {
  width: 300px;
  margin-bottom: 40px;
}

.labelNumber {
  width: 100%;
}

.categoryOption {
  color: #e0e0e0;
}

.textGreen {
  color: var(--greenColor);
}

.textRose {
  color: var(--pinkColor);
}

.buttonAdd {
  margin-bottom: 20px;
}


.datePickerContainer {
  border: none;
}


@media (min-width: 768px) {
  .container {
    width: 540px;
  }

  .wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .shortInput {
    width: 190px;
  }

  .labelNumber {
    width: 190px;
  }

  .longInput {
    width: 410px;
    height: 40px;
    margin-bottom: 40px;
  }

}



