.ui.search {
  width: 410px;
}

.react-datepicker-wrapper {
  width: 190px;
}

.react-datepicker__input-container > input {
  width: 190px;
  height: 36px;
  text-align: center;
  font-family: var(--primeFont);
  font-weight: bolder;
  color: black;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid#e0e0e0;
}


.react-datepicker__input-container > input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
} 


.react-datepicker__input-container {
right: 0;
}

.react-datepicker-ignore-onclickoutside {
    border: none;
}