// vars:
//main-color
//secondary-color
//media-rules

:root {
  --greenColor: #24cca7;
  --whiteColor: #ffffff;
  --blueColor: #4a56e2;
  --primeFont: "Circe", sans-serif, serif;
  --titleFont: "Poppins", sans-serif, serif;
}

//transition rule for hovers
$trans: all 0.25s ease-in-out;
