// vars:
//main-color
//secondary-color
//media-rules


:root {
    --primaryColor:#24CCA7;
    --secondaryColor: #FFFFFF;
    --blueColor: #4a56e2;
  }

//transition rule for hovers
$trans: all 0.25s ease-in-out;
