.button {
  border-radius: 20px;
  box-sizing: border-box;
}

.white {
  background: var(--secondaryColor);
  border: 1px solid #4a56e2;

  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #4A56E2;
}

.green {
  background: var(--primaryColor);

  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #ffffff;
}

.circle {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  border: none;
}

.square {
  width: 300px;
  height: 50px;
}
