.login {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: none;
}

@media screen and (min-width: 768px) {
  .container {
    height: 100%;
    padding: 60px 0 196px 0;
    background-color: #e7eaf2;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    overflow: hidden;
  }
  .header {
    width: 540px;
    margin-bottom: 50px;

    display: flex;
    align-items: center;
  }
  .img {
    display: block;
    width: 260px;
    height: 250px;
    background-image: url("../assets/icons/loginLogo.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 40px;
    z-index: 2;
  }
  .title {
    font-family: var(--primeFont);
    font-size: 30px;
    line-height: 1.5;
    z-index: 2;
  }
  .elipseOne {
    width: 618px;
    height: 547px;

    position: absolute;
    bottom: -10%;
    left: -10%;

    background-image: url("../assets/icons/ellipse.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
  }
  .elipseTwo {
    width: 618px;
    height: 547px;

    position: absolute;
    top: -10%;
    right: -30%;

    background-image: url("../assets/icons/ellipse2.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
  }
  .loginContainer {
    z-index: 2;
  }
  .login {
    width: 540px;
    height: 468px;
    border-radius: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    height: 100vh;
    padding: 0;

    flex-direction: row;
  }
  .header {
    width: 44%;
    margin-bottom: 0;
    padding-top: 68px;

    flex-direction: column;
    align-items: center;
  }
  .img {
    width: 435px;
    height: 420px;
    margin-right: 0;
    margin-bottom: 22px;
  }
  .elipseOne {
    bottom: -20%;
    left: -10%;
  }
  .elipseTwo {
    top: -10%;
    right: -10%;
  }
  .loginContainer {
    width: 56%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(50px);
  }
}
