@media screen and (max-width: 767px) {
  .navigation {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .balance {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .container {
    height: 100%;
    padding: 60px 0 196px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tabletContainer {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .navigation {
    display: flex;
    flex-direction: column;
    border-right: 2px solid #e7e5f2;
    height: 100%;
  }
  .transactions {
    height: 100%;
    width: 65%;
  }
  .tabletContainer {
    display: flex;
    flex-direction: column;
    width: 35%;
    justify-content: space-evenly;
    align-items: center;
  }
}
.btnContainer {
  position: absolute;
  bottom: 30px;
  right: 120px;
}

.btnLogo {
  font-size: 54px;
  position: absolute;
  top: 13px;
  right: 4px;
}
