.checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
  position: relative;
}

.label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 80px;
  height: 40px;
  background: var(--whiteColor);
  border-radius: 100px;
  border: 1px solid var(--whiteColor);
  position: relative;
  transition: background-color 0.2s;
}

.button {
  position: absolute;
  top: -4px;
  left: -14px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  transition: 0.3s;
  background: var(--greenColor);
  box-shadow: 0px 6px 15px rgba(36, 204, 167, 0.5);
}

.button::before,
.button::after {
  --indent: 15%;

  content: "";
  position: absolute;
  background-color: white;
  transition: transform 0.25s ease-out;
}

/* Vertical line */
.button::before {
  top: var(--indent);
  left: 50%;
  width: 4px;
  height: calc(100% - var(--indent) * 2);
  margin-left: -2px;
}

/* horizontal line */
.button::after {
  top: 50%;
  left: var(--indent);
  width: calc(100% - var(--indent) * 2);
  height: 4px;
  margin-top: -2px;
}

.active {
  background-color: #ff6596;
  box-shadow: 0px 6px 15px rgba(255, 101, 150, 0.5);
}

.checkbox:checked + .button {
  left: calc(100% + 14px);
  transform: translateX(-100%);
}

.checkbox:checked + .button::before {
  transform: rotate(90deg);
}

.checkbox:checked + .button::after {
  transform: rotate(180deg);
}

.label:active .button {
  width: 60px;
}
