.button {
  border-radius: 20px;
  box-sizing: border-box;
}

.name {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--blueColor);
}
.name2 {
  composes: name;
  color: var(--secondaryColor);
}

.white {
  background: var(--secondaryColor);
  border: 1px solid #4a56e2;
}

.green {
  background: var(--primaryColor);
}

.circle {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background: var(--primaryColor);
  border: none;
}

.square {
  width: 300px;
  height: 50px;
}
