.react-switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.react-switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 80px;
  height: 40px;
  background: white;
  border-radius: 100px;
  border: 1px solid rgb(226, 226, 226);
  position: relative;
  transition: background-color 0.2s;
}

.react-switch-label .react-switch-button {
  content: "";
  position: absolute;
  top: -4px;
  left: -14px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  transition: 0.3s;
  background: var(--primaryColor);
  box-shadow: 0px 6px 15px rgba(36, 204, 167, 0.5);
}

.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
  left: calc(100% + 14px);
  transform: translateX(-100%);
}

.react-switch-label:active .react-switch-button {
  width: 60px;
}
